body {
    margin: 0;
}

Footer {
    color: rgb(53, 52, 52);
    text-align: center;
}

Header {
    background-color: #9f6060;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

Header h1 {
    font-size: 3.4rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: simplifica;
    margin: 20px auto;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav>p {
    cursor: pointer;
    margin: 15px 15px 10px 15px;
    font-size: 1.8rem;
    font-family: simplifica;
    transition: all 0.3s;
    font-weight: 500;
}

.nav>p:hover {
    margin: 5px 15px 20px 15px;
    font-weight: 500;
}

img {
    width: 130px;
    padding: 10px;
    margin: 0px 0px 0px 35px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.contenedor>div{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -38rem;
    top: 3.6rem;    
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
/*     position: relative;
    right: -40rem;
    top: 7rem; */
    margin: 20px 0px 0px 0px;
    padding: 0;
    height: 50px;
}

.borrar {
    height: 30px;
    width: 30px;
    margin: 0px 0px 5px 80px;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    width: 90px;
    color: rgb(53, 52, 52);
}

main>h2 {
    text-align: center;
    padding: 15px 0px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2.2rem;
    margin: 10px;
}

.contenido>h2 {
    margin: 0px 0px 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.container>h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
}

.contenido {
    width: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.comprar {
    width: 80px;
    font-size: 1rem;
    padding: 5px;
}

.comprar, .borrar, .vaciar {
    color: rgb(100, 99, 99);
}

.comprar:hover {
    color: rgb(53, 52, 52);
}

.borrar:hover {
    color: rgb(53, 52, 52);
}

.vaciar:hover {
    color: rgb(53, 52, 52);
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60rem;
}

.continuar {
    font-size: 1.2rem;
    margin: 20px 0px;
    padding: 10px;
    background-color: #9f6060;
    color: white;
    border: 1px solid #c27d7d;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}

.continuar:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #865151;
    color: white;
    border: 1px solid #9f6060;
}

.vaciar {
    width: 75px;
    font-size: 1rem;
    padding: 5px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 170px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

button {
    background-color: white;
    border: 1px solid rgb(100, 99, 99);
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: white;
    border: 1px solid rgb(53, 52, 52);
    cursor: pointer;
}